# Node modules
node_modules
package-lock.json

# Adonis directory for storing tmp files
tmp

# Environment variables, never commit this file
.env
.env_bk

# The development sqlite file
database/development.sqlite

# VSCode & Webstorm history directories 
.history
.idea

# Nuxt.js
.nuxt/
.DS_Store

#Others
.vscode
debug.log
.vscode/launch.json
.vscode/launch.json
.vscode/launch.json
.vscode/launch.json
