<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daily Stock</title>
</head>

<body style="font-family: Calibri, sans-serif; font-size: 15px;">
    <div>
        <p style="margin: 0em;"><i>Dear Quý Khách Hàng,</i></p>
        <p style="margin: 0em;">Dear Valued Customer,</p>
        <br />
        <p style="margin: 0em;"><i>Vui lòng xem qua file báo cáo tồn hàng ngày như đính kèm,</i></p>
        <p style="margin: 0em;">Find attached the AJ Total Daily Stock report,</p>
        <br />
        <p style="margin: 0em;">Đây là email tự động. Quý khách vui lòng không gửi thư vào địa chỉ này. Mọi vướng mắc liên quan đến dịch vụ, Quý khách liên hệ với Phòng dịch vụ khách hàng của AJ Total bằng cách gửi thư vào địa chỉ Operation@ajtotalvn.com hoặc liên hệ số điện
            thoại (+84) 02835350352.</p>
        <p style="margin: 0em;"><i>Please do not reply to this automatically-generated email. If you have any questions, please reply AJ Total Customer Service to email address Operation@ajtotalvn.com or contact via number (+84) 02835350352.</i></p>
        <br />
        <p style="margin: 0em;">Cám ơn Quý khách đã sử dụng dịch vụ của AJ Total!</p>
        <p style="margin: 0em;"><i>Thank you for using our services!</i></p>
        <br />
        <p style="margin: 0em;">Trân trọng / <i>Best regards,</i></p>
        <img width="180" height="40" src="https://erp.ajtotalvn.com/logo/ajtotal-logo.png" />
        <img width="1" height="1" src="http://longhau.ajtotalvn.com/api/dso/getlogo?file_name=ajtotal-logo.png&proc=sys_upd_user_readmail&pk=<%= sys_sendmail_log_pk %>" />
        <p style="font-size: small; margin: 0em;"><i>The information contained in this message and any accompanying documents is confidential, may be attorney-client privileged, and is intended only for the use of the intended recipient. It is the property of AJ Total Vietnam. Unauthorized use, disclosure or copying of this message, or any part of it, is strictly prohibited and may be unlawful. If you have received this message in error, please notify the sender immediately by replying to the message and destroying the message and all copies of it, including all attachments. Electronic communication may be susceptible to data corruption, interception and unauthorized tampering and AJ Total Vietnam disclaims all liability of any kind for such actions or any consequences that may arise directly or indirectly there from</i></p>
    </div>
</body>

</html>