<p>Xin chào,</p>
<p style="font-weight: bold">Bạn hoặc ai đó vừa có yêu cầu lấy lại mật khẩu của bạn tại zota.com</p>
<p>Vui lòng click vào đây nếu muốn tiếp tục thay đổi mật khẩu:</p>
<a href="{{ rootUrl() }}/reset-password?token={{ token }}">{{ rootUrl() }}/reset-password?token={{ token }}</a>
<p>Hoặc bạn có thể bỏ qua email này, nếu không muốn thay đổi mật khẩu.</p>
<p style="font-weight: bold">Regards,</p>
